<ion-view view-title="Koti">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <ion-content padding="true">
  	<img class="center-img" align="middle" ng-src="img/SciFest_logo.png"/>
  	<br><br>
     <button class="button button-block button-balanced" ng-click="gotoQR()">
     	<i class="icon ion-forward"></i> Ratkaise tehtävä</button>
     <br><br>
  	<h3>Tiedätkö...?</h3>
  	<ion-list>
  	<ion-item class="item-borderless item-text-wrap" ng-repeat="question in questions"" ng-click="goToQuestion(question.qr_get)">
  		{{question.title}}
  		<br>
  		<p ng-bind-html="question.question">{{question.question}}</p>
  		<p class="item-icon-right"> <i class="icon" ng-class="isSolved(question) ? 'ion-checkmark' : ''"></i></p>
  	</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>