<ion-view view-title="Tehtävät">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <ion-content padding="true" class= "has-footer">
    <div ng-hide="qrRead">
    	<button class="button button-block button-balanced" ng-click="readQR()"><i class="icon ion-camera"></i> Skannaa QR</button>
    </div>
    <div ng-show="qrRead">
      <h2>{{title}}</h2>
      <div ng-show="isOpenQuestion">
        <p ng-bind-html="content"></p>
        <textarea class="answer" id="answer" placeholder="Vastauslaatikko" ng-model="openAnswer.answer">
        </textarea>
      </div>

      <div ng-show="isMultipleChoice">
        <ion-list ng-repeat="question in questions" ng-model="multipleChoices">
          {{question.question}}
          <ion-item ng-repeat="option in question.options" ng-model="options" 
          ng-click="select(question.question, option.option)" ng-class="{'selected' : option.selected}">
              {{option.option}}<br>
          </ion-item>
        </ion-list>
      </div>

       <div ng-show="isSingleChoice">
        <ion-list ng-repeat="question in questions" ng-model="singleChoices">
          {{question.question}}
          <ion-item ng-repeat="option in question.options" ng-model="options" 
          ng-click="select(question.question, option.option)" ng-class="{'selected' : option.selected}">
              {{option.option}}
          </ion-item>
          <br>
        </ion-list>
      </div>
    <div ng-show="qrRead">
      <button class="button button-block button-balanced" ng-click="checkAnswer()">Checkaa paja</button><br>
      <button class="button button-block button-balanced" ng-click="cancelAssignment()">Peruuta</button>
   </div>
  </ion-content>
</ion-view>
