<ion-view view-title="Tehtävät">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <ion-content padding="true">
    <div ng-hide="qrRead">
    	<button ng-click="readQR()">Skannaa QR</button>
    </div>
    <div ng-show="qrRead">
      <h2>{{title}}</h2>
      <div ng-show="isOpenQuestion">
        <p ng-bind-html="content"></p>
        <h2>Vastaus</h2>
        <textarea id="answer" placeholder="Vastauslaatikko" ng-model="openAnswer" 
        ng-change="answerChange(openAnswer)"></textarea>
      </div>

      <div ng-show="isMultipleChoice">
        <ion-list ng-repeat="question in questions" ng-model="multipleChoices">
          {{question.question}}
          <ion-item ng-repeat="option in question.options" ng-model="options" 
          ng-click="select(question.question, option.option)" ng-class="{'selected' : option.selected}">
              {{option.option}}
          </ion-item>
        </ion-list>
      </div>

       <div ng-show="isSingleChoice">
        <ion-list ng-repeat="question in questions" ng-model="singleChoices">
          {{question.question}}
          <ion-item ng-repeat="option in question.options" ng-model="options" 
          ng-click="select(question.question, option.option)" ng-class="{'selected' : option.selected}">
              {{option.option}}
          </ion-item>
        </ion-list>
      </div>
  </ion-content>
  <ion-footer-bar ng-show="qrRead">
        <button ng-click="checkAnswer()">Checkaa pajaa</button>
        <button ng-click="cancelAssignment()">Peruuta</button>
   </ion-footer-bar>
</ion-view>
