<ion-view view-title="Yhteenveto">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <ion-content padding="true">
  	<div ng-hide="hasAnswered">
  		<h2>Sinulla ei ole yhtään suorituksia.</h2>
  	</div>
  	<div ng-show="hasAnswered" class="center">
    	<h2>Suorituksesi</h2>
    	<div ng-repeat="assignment in answeredQuestions" class="div div-text-wrap">
        	<h2>{{assignment.title}}</h2>
        	<p id="balanced" ng-bind-html="assignment.text">{{assignment.text}}</p>
    	</div>
    </div>
  </ion-content>
</ion-view>