<ion-view view-title="Pajat">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <ion-content padding="true">
    <h1>Pajat</h1>
    <ion-list>
    	<div ng-repeat="workshop in workshops">
    		<ion-item class="item-stable item-text-wrap" ng-click="toggleWorkshop(workshop)"
    		ng-class="{active: isClicked(workshop)}">
    		{{workshop.name}}
    		</ion-item>
    		<ion-item class="item-accordion item-text-wrap" ng-show="isClicked(workshop)">
    		<div ng-bind-html="workshop.description">
        	{{workshop.description}}</div>
    		Aihealueet: {{workshop.subjects}} <br> 
    		Kohderyhmä: {{workshop.targetgroup}} <br>
    		Järjestäjä:  {{workshop.host_organization}}
    		</ion-item>
    	</div>
    </ion-list>
  </ion-content>
</ion-view>