.balanced {
	background-color: #c9e0d0;
}

#answer {
	background-color: #c9e0d0;
	width: 90%;
	height: 200px;
	border: solid 3px #FFF;
	border-color: #FFF;
}

.answer {
	background-color: #c9e0d0;
	width: 90%;
	height: 200px;
	border: solid 3px #FFF;
	border-color: #FFF;
}

.selected {
	background-color: #4286f4 !important;
	border: solid 2px #FFF;
}